<div class="flex justify-center items-center">
    <!-- Contenedor de fondo con opacidad y bordes redondeados -->
    <div class="my-10 bg-gray-700 bg-opacity-50 rounded-lg p-1">
        <div class="container mx-auto my-20">
            <h1 class="text-6xl text-white font-bold text-center">CONTACTENOS!</h1>
          </div>
      <div class="grid grid-cols-2 gap-10 mt-12 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 my-5">
        <div class="mx-auto max-w-7xl lg:px-8 relative">
          <div class="relative flex flex-col shadow-md rounded-xl hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
            <a class="z-20 absolute h-full w-full top-0 left-0" href="
            https://www.facebook.com/people/Hotel-Palogrande/61554985885705/">&nbsp;</a>
            <div class="h-auto overflow-hidden">
              <div class="h-44 overflow-hidden relative">
                <img src="/public/assets/Logos Redes/Facebook Logo.png" alt="" class="object-contain w-full h-full" />
              </div>
            </div>
          </div>
        </div>
  
        <div class="mx-auto max-w-7xl lg:px-8 relative">
          <div class="relative flex flex-col shadow-md rounded-xl hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
            <a class="z-20 absolute h-full w-full top-0 left-0" href="https://www.instagram.com/hotelpalogrande/">&nbsp;</a>
            <div class="h-auto overflow-hidden">
              <div class="h-44 overflow-hidden relative">
                <img src="/public/assets/Logos Redes/Instagram Logo.png" alt="" class="object-contain w-full h-full" />
              </div>
            </div>
          </div>
        </div>
  
        <div class="mx-auto max-w-7xl lg:px-8 relative">
          <div class="relative flex flex-col shadow-md rounded-xl hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
            <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
            <div class="h-auto overflow-hidden">
              <div class="h-44 overflow-hidden relative">
                <img src="/public/assets/Logos Redes/Messenger Logo.png" alt="" class="object-contain w-full h-full" />
              </div>
            </div>
          </div>
        </div>
  
        <div class="mx-auto max-w-7xl lg:px-8 relative">
          <div class="relative flex flex-col shadow-md rounded-xl hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
            <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
            <div class="h-auto overflow-hidden">
              <div class="h-44 overflow-hidden relative">
                <img src="/public/assets/Logos Redes/Wpp Logo.png" alt="" class="object-contain w-full h-full" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  