<!-- vista sección hotel -->
<head>
  <link href="./output.css" rel="stylesheet" />
</head>
<div class="grid grid-cols-1 gap-2 mt-12 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 my-5">
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 1.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Para compartir</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 2.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Para disfrutar</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 3.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Para degustar</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 4.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Para Descansar</p>
            </div>
          </div>
        </a>
      </div>
    </div>      
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 5.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Para estar</p>
            </div>
          </div>
        </a>
      </div>
    </div>      
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 6.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Lorem, ipsum dolor sit amet</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 7.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Lorem, ipsum dolor sit amet</p>
            </div>
          </div>
        </a>
      </div>
    </div>      
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 8.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Lorem, ipsum dolor sit amet</p>
            </div>
          </div>
        </a>
      </div>
    </div>      
    <div class="mx-auto max-w-7xl lg:px-8 relative">
      <div class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 w-80">
        <a class="z-20 absolute h-full w-full top-0 left-0">&nbsp;</a>
        <div class="h-auto overflow-hidden">
          <div class="h-44 overflow-hidden relative">
            <img src="../../public/assets/Galeria/Galeria 9.png" alt="" />
          </div>
        </div>
        <a class="relative transition-all duration-75 bg-yellow-300 hover:bg-white hover:shadow-xl p-4 z-40 group">
          <div class="py-4 px-3">
            <h3 class="text-xs mb-2 font-medium">
              Comodidad hogareña
            </h3>
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Lorem, ipsum dolor sit amet</p>
            </div>
          </div>
        </a>
      </div>
    </div>
</div>